**/build
**/install
**/log

**/.vscode

/__pycache__
*.o
*.exe
*.out
*.log
*.db
.env
.vscode/
*.so
/log/
*.so
*.pyc
.vscode/

**/rosbags
*.mcap
*.db3
*.png

**/camera_calibration
.DS_Store

**/rosbags
*.mcap
*.db3
*.png

**/camera_calibration
