[submodule "ros2_ws/src/mavros"]
	path = ros2_ws/src/mavros
	url = https://github.com/mavlink/mavros.git
[submodule "ros2_ws/src/mavlink"]
	path = ros2_ws/src/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "ros2_ws/src/ros_aruco_opencv"]
	path = ros2_ws/src/ros_aruco_opencv
	url = git@github.com:SpaceBotsISR/ros_aruco_opencv.git
[submodule "ros2_ws/src/nav6d"]
	path = ros2_ws/src/nav6d
	url = git@github.com:ItsNotSoftware/nav6d.git
