
<launch>
  <node name="param_manager" pkg="SCobot_Params" type="SCobot_Params_node" output="screen"/>
 
  <node name="attitude_publisher" pkg="SCobot_AttitudePub" type="SCobot_AttitudePub_node" output="screen"/> 
 
  <node name="actuation_publisher" pkg="SCobot_ActuationPub" type="SCobot_ActuationPub_node" output="screen"/> 
 
  <node name="scobot_debugger" pkg="SCobot_Debug" type="SCobot_Debug_node" output="screen"/> 
 
  <node name="motion_subscriber" pkg="SCobot_MotionSub" type="SCobot_MotionSub_node" output="screen" /> 
 
  <node name="pose_subscriber" pkg="SCobot_PoseSub" type="SCobot_PoseSub_node" output="screen" /> 
 
  <node name="velocity_subscriber" pkg="SCobot_VelocitySub" type="SCobot_VelocitySub_node" output="screen" /> 
 
  <!--node name="target_attitude" ... /--> 
</launch> 
 

